@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

li {
	list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--grey);
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}

.required__asterisk {
    margin-left: 5px;
    color: crimson;
}

.error__message {
    color: crimson;
}

.mainBody {
  height: calc(100vh - 70px);
  display: flex;
  overflow: hidden;
}

a {
  text-decoration: none;
}

@import url('./header.css');
@import url('./sidebar.css');
@import url('./item.css');
@import url('./loading.css');
@import url('./audio.css');
@import url('./auth.css');
@import url('./admin.css');
@import url('./pagination.css');

@media (max-width: 425px) {
  .header__search {
    display: none;
  }

  .header__icons .material-icons {
    display: none;
  }

  .header__icons .display-this {
    display: inline;
  }

  .header__icons .accountCircle {
    display: inline;
  }

  .sidebar {
    display: none;
  }

  .loading__screen svg {
    left: 35%;
  }
  .auth_wrapper {
    box-shadow: none;
    width: 100%;
    margin-top: 70px;
  }
  .sidebar__categories__footer {
    bottom: 15%;
  }
}

@media (max-width: 768px) {
  .header__search {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .show-sidebar {
    display: inline;
    position: fixed;
    top: 4.4rem;
    height: 100vh;
  }

  .sidebar__categories__footer {
    bottom: 15%;
  }

  .loading__screen svg {
    left: 35%;
  }
  .auth_wrapper {
    width: 100%;
    margin-top: 70px;
  }
}

@media (max-width: 941px) {
  .header__search input {
    width: 300px;
  }
  .loading__screen svg {
    left: 35%;
  }
  .sidebar__categories__footer {
    bottom: 15%;
  }
}
