
.sidebar {
    height: 100vh;
    width: 230px;
    background-color: white;
    overflow-y: scroll;
    z-index: 99;
  }
  
  .sidebar__categories {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  
  .sidebar__category {
    display: flex;
    align-items: center;
    padding: 12px 25px;
  }
  
  .sidebar__category span {
    margin-left: 15px;
  }

  .sidebar__category.active {
    background: #e5e5e5;
    cursor: pointer;
  }
  
  .sidebar__category:hover {
    background: #e5e5e5;
    cursor: pointer;
  }
  
  .sidebar::-webkit-scrollbar {
    display: none;
  }
  
  hr {
    height: 1px;
    background-color: #e5e5e5;
    border: none;
  }

  ul {
    padding: 0;
  }

  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: var(--light);
    z-index: 2000;
    font-family: var(--lato);
    transition: .3s ease;
    overflow-x: hidden;
    scrollbar-width: none;
  }
  #sidebar::--webkit-scrollbar {
    display: none;
  }
  #sidebar.hide {
    width: 60px;
  }
  #sidebar .brand {
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--blue);
    position: sticky;
    top: 0;
    left: 0;
    background: var(--light);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
  }
  #sidebar .brand .bx {
    min-width: 60px;
    display: flex;
    justify-content: center;
  }
  #sidebar .side-menu {
    width: 100%;
    margin-top: 48px;
  }
  #sidebar .side-menu li {
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
  }
  #sidebar .side-menu li.active {
    background: var(--grey);
    position: relative;
  }
  #sidebar .side-menu li.active::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
  }
  #sidebar .side-menu li.active::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--grey);
    z-index: -1;
  }
  #sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
  }
  #sidebar .side-menu.top li.active a {
    color: var(--blue);
  }
  #sidebar.hide .side-menu li a {
    width: calc(48px - (4px * 2));
    transition: width .3s ease;
  }
  #sidebar .side-menu li a.logout {
    color: var(--red);
  }
  #sidebar .side-menu.top li a:hover {
    color: var(--blue);
  }
  #sidebar .side-menu li a .bx {
    min-width: calc(60px  - ((4px + 6px) * 2));
    display: flex;
    justify-content: center;
  }

  .sidebar__categories__footer {
    position: fixed;
    bottom: 10%;
    width: 100%;
  }

  .sidebar__categories__footer .sidebar__category__footer {
    align-items: center;
    padding: 12px 25px;
    font-size: 16px;
  }

  .glow-on-hover {
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-top: 20px;
  }

  .glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.plan__progress {
  width: 150px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

